@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Header, paragraph, font */
body {
    font-family: 'Lato', sans-serif;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
    font-size: xx-large;
}
h3 {
    font-size: x-large;
}
h4 {
    font-size: larger;
}
p {
    color: black;
    width: 95%;
    font-size: larger;
}

/* Header, footer, and navbar */
.header {
    padding: 10px;
    text-align: center;
    font-size: x-large;
    background-color: darksalmon;
    color: white;
}
.footer {
    padding: 20px;
    text-align: center;
    background-color: #333;
    color: white;
}
.navbar {
    overflow: hidden;
    background-color: #333;
}
.navbar a {
    float: left;
    text-align: center;
    font-size: larger;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
}
.navbar a:hover {
    background-color: darksalmon;
}

/* Columns */
.row {
    display: flex;
}
.side {
    flex: 30%;
    padding: 20px;
    background-color: lavender;
}
.main {
    flex: 70%;
    padding: 20px;
    background-color: cornsilk;
}

/* Figures (images, videos) */
figure {
    border: 1px black solid;
    background-color: cornsilk;
    padding: 4px;
    margin: 10px;
}
figcaption {
    padding: 3px;
    text-align: center;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}